// Carbon Blue Atom

@import "ui-variables"; // https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
@import "colors";

.editor-colors {
  background-color: @base03;
  color: @lightgrey;
}
.editor {
  .invisible-character,
  .indent-guide {
    color: @lightgrey;
  }

  .gutter {
    background-color: @base03;
  }

  .gutter .line-number {
    color: @lightgrey;
    opacity: .3;
  }

  .line-number .cursor-line-no-selection {
    color: @lightgrey;
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: #fff;
  }

  .cursor-line {
    color: @lightgrey;
  }

  .cursor {
    border-color: @red;
  }

  .selection .region {
    background-color: @highlight;
    color: @highlight;
    opacity: .8;
  }

  .storage.type.function, .storage.modifier {
    color: @type;
    font-style: italic;
  }
  .entity.name { color: @mildtype; }
  .begin.php { color: @mildtype; }
  .entity.name.function { color: @base0; }

}

.bracket-matcher .region {
  border-bottom: solid 2px @white;
  margin-top: 3px;
  opacity: 0.7;
}

.comment {
  color: @comment;
}

.entity {
  color: @base0;
}

.keyword {
  color: @base0;
}

.storage.type {
  color: @base0;
}

.constant {
  color: @lightgrey;

  &.numeric,
  &.boolean {
    color: @blue;
  }
}

.variable {
  color: @blue;
}

.delimiter, .brace {
  color: @lightgrey;
}

.delimiter.period {
  color: @blue;
}

.invalid.deprecated {
  text-decoration: underline;
  color: @red;
  opacity: .8;
}

.invalid.illegal {
  color: @red;
  opacity: .8;
}

.string {
  color: @blue;

  .constant.character.escape {
    color: @red;
  }

  &.regexp {
    color: @lightgrey;

    .source.ruby.embedded,
    .string.regexp.arbitrary-repitition {
      color: @red;
    }
  }
}
