// These colors are specific to the theme. Do not use in a package!

@very-light-gray: rgba(256, 256, 256, .1);
@light-gray: #B0B0B0;
@gray: #B0B0B0;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@base03:    #25292a;
@base01:    #586e75;

@red:       #D74154;
@dark-red:  #A43240;
@highlight: rgba(215,65,84,.45);
@white:     #fff;
@base0:     #ccc;
@lightgrey: #B0B0B0;
@type:      #737373;
@mildtype:  #9E9E9E;
@hidden:    #3B3A32;
@comment:   #405a69;
@blue:      #77acc5;
@dark-blue: #587F92;
@support:   #5CA695;
@green:     #42A690;
@variable:  #7483D2;
@text-color-warning: @red;
